{% extends 'base.html.twig' %}

{% block title %}
    BilMo Login
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4">
                        BilMo Login !
                    </h1>
                    <h4>
                        Token :
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
