{% extends 'base.html.twig' %}

{% block title %}
    BilMo Login
{% endblock %}

{% block body %}
    <div class="container body-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4">
                        Login BilMo !
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-primary" href="{{ path('api_portal') }}">API Portal</a>
                <a class="btn btn-primary" href="{{ path('api_article_list') }}">Liste des Articles</a>
            </div>
        </div>
    </div>
{% endblock %}
