{% extends 'base.html.twig' %}

{% block title %}BilMo Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4">
                        BilMo Home
                    </h1>
                    <button class="btn btn-primary" href="https://github.com/login/oauth/authorize">Connexion Github</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
