{% extends 'base.html.twig' %}

{% block title %}
    BilMo Login
{% endblock %}

{% block body %}
<div class="container body-box">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="display-4">
                    Portail BilMo API
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Welcome on the Bilmo API Portal !</h2>
            <h5>You are connected with your account and you can surf on the API now !</h5>
            <a class="btn btn-primary" href="{{ path('api_article_list') }}">Liste des Articles</a>
        </div>
    </div>
    {% endblock %}
