{% extends 'base.html.twig' %}

{% block title %}BilMo Product List{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4">
                        BilMo Product List
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for article in articles %}
                {{ dump(article) }}
                {% endfor %}
                {{ dump() }}
            </div>
        </div>
    </div>
{% endblock %}
